body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 3rem;
  border-left: 10px solid var(--main-color);
  padding-left: 1rem;
  font-family: var(--slab);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 35rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid var(--gray);
  border-radius: 1rem;
  background-color: var(--black);
}

article:nth-child(odd) {
  transform: translateX(-30%);
}

article:nth-child(even) {
  transform: translateX(30%);
}

article h2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

article h2 {
  font-size: 1.5rem;
  font-family: var(--slab);
  font-weight: normal;
  border-left: 5px solid var(--main-color);
  padding-left: 0.5rem;
}

article p {
  font-family: var(--sans);
  line-height: 1.3rem;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

article ul {
  align-self: flex-end;
  display: flex;
}

article ul li a {
  cursor: pointer;
  font-size: 0.75rem;
  font-family: var(--sans);
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 1rem;
  border: 1px solid var(--white);
  transition-duration: 200ms;
}

article ul li:hover a {
  background-color: var(--white);
  color: var(--black);
}

footer {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: var(--gray);
  border: none;
  font-size: 1rem;
  font-family: var(--sans);
  cursor: pointer;
  border: 1px solid var(--gray);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  transition-duration: 200ms;
}

footer a:hover {
  border-color: var(--white);
  color: var(--white);
}

@media (max-width: 768px) {
  article {
    width: 100%;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  article:nth-child(odd),
  article:nth-child(even) {
    transform: none;
  }
}